<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Detail</h1>
    <h2>Name : {{stu.name}}</h2>
    <p>Email : {{stu.email}}</p>
    <p>birthday : {{stu.birthday}}</p>
    <p>age : {{stu.age}}</p>
    <a href="/stus/">List</a>
    <a href="/stus/{{stu.pk}}/edit/">edit</a>
    <a href="/stus/{{stu.pk}}/delete/">Delete</a>
</body>
</html>